
<nav class="navbar navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Game of Thrones</a>
   <ul class="nav justify-content-end">
       <li class="nav-item">
         <a class="nav-link disabled" href="#">Welcome!</a>
       </li>
       <li class="nav-item">
         <a class="nav-link disabled" href="#">About us</a>
       </li>
     </ul>
 </nav>
 <div id="intro" class="container-fluid">
   <div class="col-lg-12" id="banner-content">
      <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="true">Users</a>
            <a class="nav-item nav-link" id="nav-yourposts-tab" data-toggle="tab" href="#nav-yourposts" role="tab" aria-controls="nav-yourposts" aria-selected="false">Your Posts</a>
            <a class="nav-item nav-link" id="nav-allposts-tab" data-toggle="tab" href="#nav-allposts" role="tab" aria-controls="nav-allposts" aria-selected="false">All Posts</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">Users List</div>
          <div class="tab-pane fade" id="nav-yourposts" role="tabpanel" aria-labelledby="nav-yourposts-tab">Your Posts</div>
          <div class="tab-pane fade" id="nav-allposts" role="tabpanel" aria-labelledby="nav-allposts-tab">All Posts</div>
        </div>
   </div>
 </div>